p {
  font-size: 20px;
}

html {
  font-size: 20px;
}

h1{
  border: 2px dashed red;
  width: 50%;
}

header {
  width: 50%;
  border: 2px dashed blue;
}
h1 {
  border: 2px dashed red;
  width: 50%;
}

h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
}

p {
  font-size: 2rem;
  width: 45ch;
}

/* Reseteando estilos por defecto */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 1rem;
}

main{
  font-size: 2rem;
}

p {
  font-size: 2rem;
  width: 40ch;
}

body {
  width: 100%;
}

main {
  min-height: 100vh;
}