h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ... */
h1 {
  border: 2px dashed red;
  width: 400px;
  font-size: 3rem;
  padding: 0.5em;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}	

.container {
  border: 10px double red;
  font-size: 1.5rem;
  margin: 1.5em;
  padding: 1.5em 2em 3em 4em;
  outline: 5px solid blue;
  outline-offset: 10px;
}

.circle {
  margin: 3rem auto;
  background-color: gold;
  border: 2px solid black;
  border-radius: 50%;
  outline: 2px solid red;
  outline-offset: 0.25rem;
  height: 100px;
  width: 100px;
}